@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  font-family: "Roboto", "Sans Serif";
}

h2 {
  font-size: 2.4rem;
  font-family: "Roboto", "Sans Serif";
}

h3 {
  font-size: 1.8rem;
  font-family: "Roboto", "Sans Serif";
  font-weight: bold;
}

h4 {
  font-size: 1.4rem;
  font-family: "Roboto", "Sans Serif";
}

p {
  font-size: 1.5rem;
  font-family: "Roboto", "Sans Serif";
}

.p-localisation {
  font-size: 1rem;
}

a {
  font-size: 1.3rem;
  font-family: "Roboto", "Sans Serif";
}

.fonctionnement__etapes__etape__numero {
  font-size: 1rem;
  color: white;
}

.p-restaurant {
  font-size: 1.2rem;
  font-weight: lighter;
}

.p-fonctionnement {
  font-size: 1.3rem;
}

.footer-a {
  font-size: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 2.1rem;
    font-family: "Roboto", "Sans Serif";
  }
  h2 {
    font-size: 2rem;
    font-family: "Roboto", "Sans Serif";
  }
  h3 {
    font-size: 1.8rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: bold;
  }
  h4 {
    font-size: 1.4rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: normal;
  }
  p {
    font-size: 1.5rem;
    font-family: "Roboto", "Sans Serif";
  }
  .p-localisation {
    font-size: 1.5rem;
  }
  a {
    font-size: 1.3rem;
    font-family: "Roboto", "Sans Serif";
  }
  .fonctionnement__etapes__etape__numero {
    font-size: 1rem;
    color: white;
  }
  .p-restaurant {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .p-fonctionnement {
    font-size: 1.3rem;
  }
  .footer-a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
    font-family: "Roboto", "Sans Serif";
  }
  h2 {
    font-size: 1.5rem;
    font-family: "Roboto", "Sans Serif";
  }
  h3 {
    font-size: 1.5rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: bold;
  }
  h4 {
    font-size: 1.2rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: normal;
  }
  p {
    font-size: 1.2rem;
    font-family: "Roboto", "Sans Serif";
  }
  .p-localisation {
    font-size: 1.2rem;
  }
  .p-fonctionnement {
    font-size: 1.2rem;
  }
  a {
    font-size: 1.1rem;
    font-family: "Roboto", "Sans Serif";
  }
  .fonctionnement__etapes__etape__numero {
    font-size: 0.9rem;
    color: white;
  }
  .p-restaurant {
    font-size: 1rem;
    font-weight: lighter;
  }
  .footer-a {
    font-size: 0.9rem;
  }
}

header {
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}

.presentation {
  margin-bottom: 3vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .presentation {
    margin-bottom: 6vw;
  }
}

@media screen and (min-width: 1025px) {
  .presentation {
    margin-bottom: 3vw;
  }
}

.presentation__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}

.presentation__localisation i {
  padding-right: 20px;
  padding-left: 20px;
}

.presentation__localisation .p-localisation {
  color: #505050;
}

.presentation__main {
  background-color: #f6f6f6;
  padding: 20px 5%;
  padding-bottom: 80px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .presentation__main {
    padding-bottom: 120px;
  }
}

.presentation__main h1 {
  margin-right: 6%;
  margin-left: 6%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .presentation__main h1 {
    padding: 30px 5%;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1025px) {
  .presentation__main h1 {
    margin-right: 2%;
    margin-left: 2%;
    padding: 80px 5%;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.presentation__main p {
  font-weight: lighter;
  margin-bottom: 10vw;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .presentation__main p {
    margin-bottom: 13vw;
  }
}

@media screen and (min-width: 1025px) {
  .presentation__main p {
    margin-bottom: 6vw;
  }
}

.presentation__main a {
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.fonctionnement {
  padding: 0 5%;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6vw;
  }
}

@media screen and (min-width: 1025px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.fonctionnement h2 {
  margin-bottom: 8vw;
}

@media screen and (min-width: 1025px) {
  .fonctionnement h2 {
    margin-bottom: 3vw;
  }
}

.fonctionnement__etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__etapes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  .fonctionnement__etapes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
}

.fonctionnement__etapes__etape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 30px;
  padding: 28px 20px;
  margin-left: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__etapes__etape {
    width: 60%;
  }
}

@media screen and (min-width: 1025px) {
  .fonctionnement__etapes__etape {
    width: 28%;
  }
}

.fonctionnement__etapes__etape__numero {
  background-color: #9356DC;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: -3vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__etapes__etape__numero {
    width: 35px;
    height: 35px;
    left: -2.2vw;
  }
}

@media screen and (min-width: 1025px) {
  .fonctionnement__etapes__etape__numero {
    width: 35px;
    height: 35px;
    left: -1vw;
  }
}

.fonctionnement__etapes__etape i {
  width: 15%;
  text-align: center;
  color: gray;
}

.fonctionnement__etapes__etape p:nth-child(3) {
  color: black;
  padding: 0 2%;
}

.restaurants {
  padding: 0 5%;
  background-color: #f6f6f6;
  padding: 60px 5%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1025px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurants h2 {
  margin-bottom: 3vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants h2 {
    margin-bottom: 8vw;
  }
}

.restaurants a {
  text-decoration: none;
}

.restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1025px) {
  .restaurants__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurants__cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 35px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__cards__card {
    width: 47%;
  }
}

@media screen and (min-width: 1025px) {
  .restaurants__cards__card {
    width: 20%;
  }
}

.restaurants__cards__card__imgContainer {
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.restaurants__cards__card__imgContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__cards__card__imgContainer p {
  position: absolute;
  top: 8%;
  right: 5%;
  color: #008766;
  background-color: #99e2d0;
  font-weight: normal;
  border-radius: 2px;
  padding: 5px 15px;
  z-index: 1;
}

.restaurants__cards__card__descriptionContainer {
  padding: 15px 5%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__cards__card__descriptionContainer h4 {
  margin-bottom: 5px;
  font-weight: bold;
}

.footer {
  padding: 20px 5%;
  background-color: #353535;
  color: white;
}

.footer h3 {
  font-family: "Shrikhand", "Sans Serif";
  font-weight: normal;
  padding: 20px 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer h3 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .footer h3 {
    margin-bottom: 20px;
  }
}

.footer__liens {
  margin-bottom: 40px;
}

@media screen and (min-width: 1025px) {
  .footer__liens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    height: auto;
  }
}

.footer__liens__lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__liens__lien {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .footer__liens__lien {
    margin-right: 20%;
    margin-bottom: 40px;
  }
}

.footer__liens__lien__i {
  width: 5%;
  margin-right: 1vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__liens__lien__i {
    width: 2vw;
  }
}

@media screen and (min-width: 1025px) {
  .footer__liens__lien__i {
    width: 0.5vw;
  }
}

.footer__liens__lien:nth-child(2) i {
  -webkit-transform: rotate(-40deg) scale(0.8) translate3d(0px, -2px, 0);
          transform: rotate(-40deg) scale(0.8) translate3d(0px, -2px, 0);
}

.footer__liens a {
  font-weight: lighter;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */