@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
@-webkit-keyframes heartOpacityPC {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(-5%);
            transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(-5%);
  }
  20% {
    opacity: 0.1;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(-5%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.2) scaleX(1.1) translateY(-15%) translateX(-8%);
            transform: scale(0.6) scaleY(1.2) scaleX(1.1) translateY(-15%) translateX(-8%);
  }
}
@keyframes heartOpacityPC {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(-5%);
            transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(-5%);
  }
  20% {
    opacity: 0.1;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(-5%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.2) scaleX(1.1) translateY(-15%) translateX(-8%);
            transform: scale(0.6) scaleY(1.2) scaleX(1.1) translateY(-15%) translateX(-8%);
  }
}

@-webkit-keyframes heartOpacityMobile {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
  }
  20% {
    opacity: 0.1;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
  }
}

@keyframes heartOpacityMobile {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
  }
  20% {
    opacity: 0.1;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
  }
}

@-webkit-keyframes MenuHeartOpacityMobile {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
  }
  20% {
    opacity: 0.1;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
  }
}

@keyframes MenuHeartOpacityMobile {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
  }
  20% {
    opacity: 0.1;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
  }
}

@-webkit-keyframes MenuHeartOpacityPC {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
  }
}

@keyframes MenuHeartOpacityPC {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  40% {
    opacity: 0;
    -webkit-transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
            transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-family: "Roboto", "Sans Serif";
}

h2 {
  font-size: 2.4rem;
  font-family: "Roboto", "Sans Serif";
}

h3 {
  font-size: 1.8rem;
  font-family: "Roboto", "Sans Serif";
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  font-family: "Roboto", "Sans Serif";
}

p {
  font-size: 1.5rem;
  font-family: "Roboto", "Sans Serif";
}

.p-localisation {
  font-size: 1rem;
}

a {
  font-size: 1.3rem;
  font-family: "Roboto", "Sans Serif";
}

.fonctionnement__etapes__etape__numero {
  font-size: 1rem;
  color: white;
}

.p-restaurant {
  font-size: 1rem;
  font-weight: lighter;
}

.p-fonctionnement {
  font-size: 1.2rem;
}

.footer-a {
  font-size: 1rem;
}

.h1Menu {
  font-size: 3rem;
  font-family: "Shrikhand", "Sans-Serif";
  font-weight: normal;
}

.h2Menu {
  font-weight: lighter;
  font-size: 2rem;
  text-transform: uppercase;
}

.h3Menu {
  font-size: 1.8rem;
}

.pMenu {
  font-size: 1.8rem;
  font-weight: lighter;
}

.prixMenu {
  font-size: 1.8rem;
}

.button {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 2.1rem;
    font-family: "Roboto", "Sans Serif";
  }
  h2 {
    font-size: 2rem;
    font-family: "Roboto", "Sans Serif";
  }
  h3 {
    font-size: 1.8rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: bold;
  }
  h4 {
    font-size: 1.4rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: normal;
  }
  p {
    font-size: 1.5rem;
    font-family: "Roboto", "Sans Serif";
  }
  .p-localisation {
    font-size: 1.5rem;
  }
  a {
    font-size: 1.3rem;
    font-family: "Roboto", "Sans Serif";
  }
  .fonctionnement__etapes__etape__numero {
    font-size: 1rem;
    color: white;
  }
  .p-restaurant {
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .p-fonctionnement {
    font-size: 1.3rem;
  }
  .footer-a {
    font-size: 1rem;
  }
  .button {
    font-size: 1.3rem;
  }
  .h1Menu {
    font-size: 2.5rem;
    font-family: "Shrikhand", "Sans-Serif";
    font-weight: normal;
  }
  .h2Menu {
    font-weight: lighter;
    font-size: 2rem;
  }
  .h3Menu {
    font-size: 2rem;
  }
  .pMenu {
    font-size: 1.6rem;
    font-weight: lighter;
  }
  .prixMenu {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
    font-family: "Roboto", "Sans Serif";
  }
  h2 {
    font-size: 1.5rem;
    font-family: "Roboto", "Sans Serif";
  }
  h3 {
    font-size: 1.5rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: bold;
  }
  h4 {
    font-size: 1.2rem;
    font-family: "Roboto", "Sans Serif";
    font-weight: normal;
  }
  p {
    font-size: 1.2rem;
    font-family: "Roboto", "Sans Serif";
  }
  .p-localisation {
    font-size: 1.2rem;
  }
  .p-fonctionnement {
    font-size: 1rem;
  }
  a {
    font-size: 1.1rem;
    font-family: "Roboto", "Sans Serif";
  }
  .fonctionnement__etapes__etape__numero {
    font-size: 0.9rem;
    color: white;
  }
  .p-restaurant {
    font-size: 1rem;
    font-weight: lighter;
  }
  .footer-a {
    font-size: 0.9rem;
  }
  .button {
    font-size: 1rem;
  }
  .h1Menu {
    font-size: 1.8rem;
    font-family: "Shrikhand", "Sans-Serif";
    font-weight: normal;
  }
  .h2Menu {
    font-weight: lighter;
    font-size: 1rem;
  }
  .h3Menu {
    font-size: 1.2rem;
  }
  .pMenu {
    font-size: 1rem;
    font-weight: lighter;
  }
  .prixMenu {
    font-size: 1rem;
  }
}

.load__div {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  -webkit-animation: loadDiv 2.6s forwards;
          animation: loadDiv 2.6s forwards;
}

.load {
  width: 1%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: load 2.6s forwards;
          animation: load 2.6s forwards;
  width: 180px;
  -webkit-transform: translateY(42vh) translateX(0vw) scaleY(1);
          transform: translateY(42vh) translateX(0vw) scaleY(1);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .load {
    -webkit-animation: loadMobile 2.6s forwards;
            animation: loadMobile 2.6s forwards;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .load {
    -webkit-animation: loadTablet 2.6s forwards;
            animation: loadTablet 2.6s forwards;
  }
}

.load__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280%;
  background-color: white;
  z-index: 2;
  -webkit-animation: bg 2.6s forwards;
          animation: bg 2.6s forwards;
}

@media screen and (max-width: 768px) {
  .load__bg {
    height: 500%;
  }
}

.load__bar {
  height: 100%;
  width: 2vh;
  -webkit-animation: bars 2s forwards ease-in-out 1;
          animation: bars 2s forwards ease-in-out 1;
}

.load__bar:nth-child(1) {
  background-color: #FF79DA;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.load__bar:nth-child(2) {
  background-color: #9356DC;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.load__bar:nth-child(3) {
  background-color: #99E2D0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.load__bar--1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.load__bar--2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.load__bar--3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes bars {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: 1;
  }
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: 1;
  }
  97% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes bars {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: 1;
  }
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    opacity: 1;
  }
  97% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
}

@-webkit-keyframes bg {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  99% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes bg {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  99% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@-webkit-keyframes loadDiv {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  99% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes loadDiv {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  99% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateY(40vh) scaleY(1);
            transform: translateY(40vh) scaleY(1);
  }
  99% {
    -webkit-transform: translateY(40vh) scaleY(1);
            transform: translateY(40vh) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(40vh) scaleY(0);
            transform: translateY(40vh) scaleY(0);
  }
}

@keyframes load {
  0% {
    -webkit-transform: translateY(40vh) scaleY(1);
            transform: translateY(40vh) scaleY(1);
  }
  99% {
    -webkit-transform: translateY(40vh) scaleY(1);
            transform: translateY(40vh) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(40vh) scaleY(0);
            transform: translateY(40vh) scaleY(0);
  }
}

@-webkit-keyframes loadMobile {
  0% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  99% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(42vh) scaleY(0);
            transform: translateY(42vh) scaleY(0);
  }
}

@keyframes loadMobile {
  0% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  99% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(42vh) scaleY(0);
            transform: translateY(42vh) scaleY(0);
  }
}

@-webkit-keyframes loadTablet {
  0% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  99% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(42vh) scaleY(0);
            transform: translateY(42vh) scaleY(0);
  }
}

@keyframes loadTablet {
  0% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  99% {
    -webkit-transform: translateY(42vh) scaleY(1);
            transform: translateY(42vh) scaleY(1);
  }
  100% {
    -webkit-transform: translateY(42vh) scaleY(0);
            transform: translateY(42vh) scaleY(0);
  }
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

header img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  header img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  header img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.headerMenu {
  text-align: center;
  position: relative;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .headerMenu {
    height: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .headerMenu {
    height: 90px;
  }
}

.headerMenu__arrow {
  display: none;
  border: none;
  background-color: white;
  position: absolute;
  left: 7%;
  top: 28px;
}

.headerMenu__arrow i {
  color: black;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .headerMenu__arrow {
    display: block;
    top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .headerMenu__arrow {
    display: block;
    top: 30px;
  }
}

.headerMenu__logo {
  width: auto;
}

.button__main {
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 30px;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: "Roboto", "Sans Serif";
  font-weight: normal;
  position: relative;
}

.button__main a {
  width: 100%;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .button__main a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .button__main a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .button__main {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .button__main {
    padding: 20px 30px;
    max-width: 250px;
  }
}

.button__main__opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: white;
  opacity: 0;
}

.button__main:hover {
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
}

.button__main:hover .button__main__opacity {
  opacity: 0.1;
}

.button__carte {
  padding: 30px 10%;
}

@media screen and (max-width: 768px) {
  .button__carte {
    padding: 20px 15%;
  }
}

.presentation {
  margin-bottom: 3vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .presentation {
    margin-bottom: 6vw;
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    margin-bottom: 3vw;
  }
}

.presentation__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}

.presentation__localisation i {
  padding-right: 20px;
}

.presentation__localisation .p-localisation {
  color: #505050;
}

.presentation__main {
  background-color: #f6f6f6;
  padding: 20px 5%;
  padding-bottom: 80px;
  text-align: center;
}

.presentation__main h1 {
  margin-right: 6%;
  margin-left: 6%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .presentation__main h1 {
    padding: 30px 5%;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (min-width: null) {
  .presentation__main h1 {
    margin-right: 2%;
    margin-left: 2%;
    padding: 80px 5%;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.presentation__main p {
  font-weight: lighter;
  margin-bottom: 6vw;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .presentation__main p {
    margin-bottom: 13vw;
  }
}

@media screen and (max-width: 768px) {
  .presentation__main p {
    margin-bottom: 10vw;
  }
}

.fonctionnement {
  padding: 0 5%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6vw;
  }
}

.fonctionnement h2 {
  margin-bottom: 3vw;
  text-align: center;
  width: 90%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement h2 {
    margin-bottom: 8vw;
  }
}

@media screen and (max-width: 768px) {
  .fonctionnement h2 {
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: left;
  }
}

.fonctionnement__etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__etapes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .fonctionnement__etapes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fonctionnement__etapes__etape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 30px;
  padding: 28px 20px;
  margin-left: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 28%;
}

.fonctionnement__etapes__etape:hover {
  cursor: pointer;
  background-color: #f5edff;
}

.fonctionnement__etapes__etape:hover i {
  color: #9356DC;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__etapes__etape {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .fonctionnement__etapes__etape {
    width: 100%;
  }
}

.fonctionnement__etapes__etape__numero {
  background-color: #9356DC;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: -1vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement__etapes__etape__numero {
    width: 35px;
    height: 35px;
    left: -2.2vw;
  }
}

@media screen and (max-width: 768px) {
  .fonctionnement__etapes__etape__numero {
    width: 25px;
    height: 25px;
    left: -3vw;
  }
}

.fonctionnement__etapes__etape i {
  text-align: center;
  color: gray;
  width: 60px;
}

@media screen and (max-width: 768px) {
  .fonctionnement__etapes__etape i {
    width: 40px;
  }
}

.fonctionnement__etapes__etape p:nth-child(3) {
  color: black;
  padding: 0 2%;
}

.restaurants {
  padding: 0 5%;
  background-color: #f6f6f6;
  padding: 60px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurants h2 {
  margin-bottom: 5vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants h2 {
    margin-bottom: 8vw;
  }
}

@media screen and (max-width: 768px) {
  .restaurants h2 {
    margin-bottom: 3vw;
    width: 90%;
  }
}

.restaurants a {
  text-decoration: none;
}

.restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .restaurants__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    width: 100%;
  }
}

.restaurants__cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 60px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
  width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__cards__card {
    width: 47%;
  }
}

@media screen and (max-width: 768px) {
  .restaurants__cards__card {
    width: 100%;
    margin-bottom: 40px;
  }
}

.restaurants__cards__card__imgContainer {
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}

.restaurants__cards__card__imgContainer img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__cards__card__imgContainer p {
  position: absolute;
  top: 8%;
  right: 5%;
  color: #008766;
  background-color: #99e2d0;
  font-weight: normal;
  border-radius: 2px;
  padding: 5px 15px;
  z-index: 1;
}

.restaurants__cards__card__descriptionContainer {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__cards__card__descriptionContainer h4 {
  margin-bottom: 5px;
  font-weight: bold;
}

.restaurants__cards__card__descriptionContainer__left {
  width: 85%;
  padding: 15px 5%;
}

.restaurants__cards__card__descriptionContainer__right {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.restaurants__cards__card__descriptionContainer__right i {
  width: 32px;
  height: 28px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__cards__card__descriptionContainer__right i {
    width: 30px;
  }
}

.restaurants__cards__card__descriptionContainer__right i:hover .fas, .restaurants__cards__card__descriptionContainer__right i:active .fas {
  -webkit-animation: heartOpacityPC 0.3s forwards ease;
          animation: heartOpacityPC 0.3s forwards ease;
}

@media screen and (max-width: 768px) {
  .restaurants__cards__card__descriptionContainer__right i:hover .fas, .restaurants__cards__card__descriptionContainer__right i:active .fas {
    -webkit-animation: heartOpacityMobile 0.3s forwards ease;
            animation: heartOpacityMobile 0.3s forwards ease;
  }
}

.restaurants__cards__card__descriptionContainer__right i:hover .fas::before, .restaurants__cards__card__descriptionContainer__right i:active .fas::before {
  color: transparent;
  position: relative;
  background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  text-align: center;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.restaurants__cards__card__descriptionContainer__right .far {
  display: inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.restaurants__cards__card__descriptionContainer__right .fas {
  position: absolute;
  -webkit-transform: scale(0.6) scaleX(1.05) scaleY(0) translateY(-9px) translateX(-3px);
          transform: scale(0.6) scaleX(1.05) scaleY(0) translateY(-9px) translateX(-3px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
}

.restaurants__cards__card__descriptionContainer__right .fas::before {
  color: transparent;
  position: relative;
  background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.imageHead {
  height: 66vh;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.imageHead img {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .imageHead {
    height: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .imageHead {
    height: 65vw;
  }
}

.carte {
  background-color: #f6f6f6;
  position: relative;
  width: 60%;
  padding-bottom: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .carte {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte {
    width: 100%;
  }
}

.carte__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw 5%;
  position: absolute;
  top: -25vh;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin: 3.5vw 0%;
  padding-bottom: 80px;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__head {
    top: -15vw;
    padding: 3.5vw 5%;
  }
}

@media screen and (max-width: 768px) {
  .carte__head {
    top: -50px;
    padding: 2vw 5%;
  }
}

.carte__head__heart {
  height: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__head__heart {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

@media screen and (max-width: 768px) {
  .carte__head__heart {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-right: 20px;
    width: 5%;
  }
}

.carte__head__heart i {
  width: 30px;
  height: 30px;
}

.carte__head__heart i:hover .fas, .carte__head__heart i:active .fas {
  -webkit-animation: MenuHeartOpacityPC 0.3s forwards ease;
          animation: MenuHeartOpacityPC 0.3s forwards ease;
}

@media screen and (max-width: 768px) {
  .carte__head__heart i:hover .fas, .carte__head__heart i:active .fas {
    -webkit-animation: MenuHeartOpacityMobile 0.3s forwards ease;
            animation: MenuHeartOpacityMobile 0.3s forwards ease;
  }
}

.carte__head__heart i:hover .fas::before, .carte__head__heart i:active .fas::before {
  color: transparent;
  position: relative;
  background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  text-align: center;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.carte__head__heart .far {
  display: inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.carte__head__heart .fas {
  position: absolute;
  -webkit-transform: scale(0.6) scaleX(1.05) scaleY(0) translateY(-9px) translateX(-3px);
          transform: scale(0.6) scaleX(1.05) scaleY(0) translateY(-9px) translateX(-3px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
}

.carte__head__heart .fas::before {
  color: transparent;
  position: relative;
  background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.carte__partie {
  padding: 2vw 5%;
  margin-bottom: 30px;
  padding-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__partie {
    margin-bottom: 80px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .carte__partie {
    margin-bottom: 30px;
  }
}

.carte__partie a {
  color: black;
}

.carte__partie:nth-child(2) {
  padding-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__partie:nth-child(2) {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .carte__partie:nth-child(2) {
    padding-top: 70px;
  }
}

.carte__partie h2 {
  position: relative;
  margin-bottom: 25px;
}

@media screen and (min-width: null) {
  .carte__partie h2 {
    margin-bottom: 40px;
  }
}

.carte__partie h2::before {
  content: "";
  border-bottom: 3px solid #99E2D0;
  position: absolute;
  width: 10%;
  height: 100%;
  bottom: -5px;
}

.carte__partie__cards__card {
  height: 130px;
  background-color: white;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-animation: CardLoadingAnim forwards 0.5s ease-in-out;
          animation: CardLoadingAnim forwards 0.5s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__partie__cards__card {
    height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .carte__partie__cards__card {
    height: 75px;
  }
}

.carte__partie__cards__card:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.carte__partie__cards__card:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.carte__partie__cards__card:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes CardLoadingAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes CardLoadingAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.carte__partie__cards__card:hover .carte__partie__cards__card__right__check {
  width: 100px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .carte__partie__cards__card:hover .carte__partie__cards__card__right__check {
    width: 20vw;
  }
}

.carte__partie__cards__card:hover .carte__partie__cards__card__right__check i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(0deg) scale(1.5);
          transform: rotate(0deg) scale(1.5);
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .carte__partie__cards__card:hover .carte__partie__cards__card__right__check i {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@media screen and (min-width: null) {
  .carte__partie__cards__card:hover .carte__partie__cards__card__right__check i {
    -webkit-transform: rotate(0deg) scale(2);
            transform: rotate(0deg) scale(2);
  }
}

.carte__partie__cards__card__left {
  padding: 0 3%;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carte__partie__cards__card__left .h3Menu {
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte__partie__cards__card__left .pMenu {
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte__partie__cards__card__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
}

.carte__partie__cards__card__right .prixMenu {
  padding-right: 4vw;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte__partie__cards__card__right .prixMenu {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .carte__partie__cards__card__right .prixMenu {
    padding-bottom: 13px;
  }
}

.carte__partie__cards__card__right__check {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.carte__partie__cards__card__right__check i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transform: rotate(-220deg) scale(0);
          transform: rotate(-220deg) scale(0);
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.carte .button {
  width: 100%;
  text-align: center;
}

.footer {
  padding: 20px 5%;
  background-color: #353535;
  color: white;
}

.footer h3 {
  font-family: "Shrikhand", "Sans Serif";
  font-weight: normal;
  padding: 20px 0;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer h3 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: null) {
  .footer h3 {
    margin-bottom: 20px;
  }
}

.footer__liens {
  margin-bottom: 40px;
}

@media screen and (min-width: null) {
  .footer__liens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    height: auto;
  }
}

.footer__liens__lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__liens__lien {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: null) {
  .footer__liens__lien {
    margin-right: 20%;
    margin-bottom: 40px;
  }
}

.footer__liens__lien__i {
  width: 1%;
  margin-right: 1vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__liens__lien__i {
    width: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .footer__liens__lien__i {
    width: 5%;
  }
}

.footer__liens__lien:nth-child(2) i {
  -webkit-transform: rotate(-40deg) scale(0.8) translate3d(0px, -2px, 0);
          transform: rotate(-40deg) scale(0.8) translate3d(0px, -2px, 0);
}

.footer__liens a {
  font-weight: lighter;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */