//Generals
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-secondary: #eaeaea;
$color-bg-primary: #f6f6f6;
$color-location: #505050;
$color-restaurant-new: #008766;
$color-restaurant-new-bg: #99e2d0;

$font-size-h1 : ("mobile": 1.6rem, "tablet": 26px, "pc": 28px);
$font-size-h2 : ("mobile": 1.5rem, "tablet": 26px, "pc": 28px);
$font-size-h3 : ("mobile": 20px, "tablet": 26px, "pc": 28px);
$font-size-p : ("mobile": 1.2rem, "tablet": 26px, "pc": 28px);
$font-size-restaurant-p : ("mobile": 1rem, "tablet": 26px, "pc": 28px);
$font-size-a : ("mobile": 1.1rem, "tablet": 26px, "pc": 28px);
$font-size-numero : ("mobile": 0.8rem, "tablet": 26px, "pc": 28px);






$breakpoints: (
    mobile: 767px,
    tablet: 991px,
    pc:1025px
);
