//Generals

//Acceuil
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-secondary: #eaeaea;
$color-bg-primary: #f6f6f6;
$color-bg-fonctionnement: #f5edff;
$color-location: #505050;
$color-restaurant-new: #008766;
$color-restaurant-new-bg: #99e2d0;

$font-size-h1 : ("mobile": 1.6rem, "tablet": 2.1rem, "pc": 3rem);
$font-size-h2 : ("mobile": 1.5rem, "tablet": 2rem, "pc": 2.4rem);
$font-size-h3 : ("mobile": 1.2rem, "tablet": 1.4rem, "pc": 1.2rem);
$font-size-h4 : ("mobile": 1.2rem, "tablet": 1.2rem, "pc": 1.2rem);
$font-size-p : ("mobile": 1.2rem, "tablet": 1.5rem, "pc": 1.5rem);
$font-size-p-localisation : ("mobile": 1.2rem, "tablet": 1.5rem, "pc": 1rem);
$font-size-p-fonctionnement : ("mobile": 1rem, "tablet": 1.3rem, "pc": 1.2rem);
$font-size-restaurant-p : ("mobile": 1rem, "tablet": 1.2rem, "pc": 1rem);
$font-size-a : ("mobile": 1.1rem, "tablet": 1.3rem, "pc": 1.3rem);
$font-size-footer-a : ("mobile": 0.9rem, "tablet": 1rem, "pc": 1rem);
$font-size-numero : ("mobile": 0.9rem, "tablet": 1rem, "pc": 1rem);
$font-size-button : ("mobile": 1rem, "tablet": 1.3rem, "pc": 1.5rem);



//menu
$font-size-h1Menu : ("mobile": 1.8rem, "tablet": 2.5rem, "pc": 3rem);
$font-size-h2Menu : ("mobile": 1rem, "tablet": 2rem, "pc": 2rem);
$font-size-h3Menu : ("mobile": 1.2rem, "tablet": 2rem, "pc": 1.8rem);
$font-size-pMenu : ("mobile": 1rem, "tablet": 1.6rem, "pc": 1.8rem);
$font-size-prixMenu : ("mobile": 1rem, "tablet": 1.8rem, "pc": 1.8rem);


//Menu Animation Apparition Carte
$anim-dur: 1s;
$anim-delay: $anim-dur / 5;


//Heart Animation

@keyframes heartOpacityPC {


    0%
    {
        opacity: 0;
        transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(-5%);
    }


    20%
    {
        opacity: 0.1;
        transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(-5%);

    }

    100%
    {
        opacity: 1;
        transform: scale(0.6) scaleY(1.2) scaleX(1.1) translateY(-15%) translateX(-8%);

    }
    
}

@keyframes heartOpacityMobile {


    0%
    {
        opacity: 0;
        transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
    }


    20%
    {
        opacity: 0.1;
        transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);

    }

    100%
    {
        opacity: 1;
        transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);

    }
    
}

@keyframes MenuHeartOpacityMobile {


    0%
    {
        opacity: 0;
        transform: scale(0.6) scaleY(0) scaleX(1.05) translateY(-15%) translateX(1%);
    }


    20%
    {
        opacity: 0.1;
        transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);

    }

    100%
    {
        opacity: 1;
        transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);

    }
    
}

@keyframes MenuHeartOpacityPC {


    0%
    {
        opacity: 0;
        transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);
    }


    40%
    {
        opacity: 0;
        transform: scale(0.6) scaleY(0) scaleX(0.2) translateY(-15%) translateX(1%);

    }

    100%
    {
        opacity: 1;
        transform: scale(0.6) scaleY(1.1) scaleX(1.1) translateY(-15%) translateX(1%);

    }
    
}




//Breakpoints
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
);
