//Acceuil

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

*
{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

  
  a
  {
    text-decoration: none;
  }

  a:hover 
  {
    text-decoration: none;
  }

  h1
  {
    font-size: map-get($font-size-h1, "pc" );
    font-family: "Roboto", "Sans Serif";
  }

  h2
  {
    font-size: map-get($font-size-h2, "pc" );
    font-family: "Roboto", "Sans Serif";
  }

  h3 
  {
    font-size: map-get($font-size-h3, "pc" );
    font-family: "Roboto", "Sans Serif";
    font-weight: bold;
  }

  h4
  {
    font-size: map-get($font-size-h4, "pc" );
    font-family: "Roboto", "Sans Serif";
   
  }

  p 
  {
    font-size: map-get($font-size-p,"pc" );
    font-family: "Roboto", "Sans Serif";
  }

  .p-localisation
  {
    font-size: map-get($font-size-p-localisation, "pc" );
  }

  a
  {
    font-size: map-get($font-size-a,"pc");
    font-family: "Roboto", "Sans Serif";
  }

  .fonctionnement__etapes__etape__numero
  {
    font-size: map-get($font-size-numero,"pc");
    color: white;
  }

  .p-restaurant
  {
    font-size: map-get($font-size-restaurant-p , "pc");
    font-weight: lighter;
  }

  .p-fonctionnement
  {
    font-size: map-get($font-size-p-fonctionnement ,"pc");
  }

  .footer-a
  {
    font-size: map-get($font-size-footer-a , "pc");
  }

      //Menu

      .h1Menu
      {
          font-size: map-get($font-size-h1Menu , "pc");
          font-family: "Shrikhand", "Sans-Serif";
          font-weight: normal;
      }
    
      .h2Menu
      {
        font-weight: lighter;
        font-size: map-get($font-size-h2Menu , "pc");
        text-transform: uppercase;
      }
    
      .h3Menu
      {
        font-size: map-get($font-size-h3Menu , "pc");
      }
    
      .pMenu
      {
        font-size: map-get($font-size-pMenu , "pc");
        font-weight: lighter;
      }
    
      .prixMenu
      {
        font-size: map-get($font-size-prixMenu , "pc");
      }

      .button
      {
        font-size: map-get($font-size-button , "pc");
      }
  



  @include tablet-only 
  {
    h1
    {
      font-size: map-get($font-size-h1, "tablet" );
      font-family: "Roboto", "Sans Serif";
    }
  
    h2
    {
      font-size: map-get($font-size-h2, "tablet" );
      font-family: "Roboto", "Sans Serif";
    }
  
    h3 
    {
      font-size: map-get($font-size-h3, "tablet" );
      font-family: "Roboto", "Sans Serif";
      font-weight: bold;
    }

    h4
    {
      font-size: map-get($font-size-h4, "tablet" );
      font-family: "Roboto", "Sans Serif";
      font-weight: normal;
    }
  
    p 
    {
      font-size: map-get($font-size-p,"tablet" );
      font-family: "Roboto", "Sans Serif";
    }

    .p-localisation
    {
      font-size: map-get($font-size-p-localisation, "tablet" );
    }

    a
    {
      font-size: map-get($font-size-a,"tablet");
      font-family: "Roboto", "Sans Serif";
    }

    .fonctionnement__etapes__etape__numero
    {
      font-size: map-get($font-size-numero,"tablet");
      color: white;
    }
  
    .p-restaurant
    {
      font-size: map-get($font-size-restaurant-p , "tablet");
      font-weight: lighter;
    }

    .p-fonctionnement
    {
      font-size: map-get($font-size-p-fonctionnement ,"tablet");
    }

    .footer-a
    {
      font-size: map-get($font-size-footer-a , "tablet");
    }

    .button
    {
      font-size: map-get($font-size-button , "tablet");
    }

        //Menu

  .h1Menu
  {
      font-size: map-get($font-size-h1Menu , "tablet");
      font-family: "Shrikhand", "Sans-Serif";
      font-weight: normal;
  }

  .h2Menu
  {
    font-weight: lighter;
    font-size: map-get($font-size-h2Menu , "tablet");
  }

  .h3Menu
  {
    font-size: map-get($font-size-h3Menu , "tablet");
  }

  .pMenu
  {
    font-size: map-get($font-size-pMenu , "tablet");
    font-weight: lighter;
  }

  .prixMenu
  {
    font-size: map-get($font-size-prixMenu , "tablet");
  }
  }


  @include mobile-only 
  {
    h1
    {
      font-size: map-get($font-size-h1, "mobile" );
      font-family: "Roboto", "Sans Serif";
    }
  
    h2
    {
      font-size: map-get($font-size-h2, "mobile" );
      font-family: "Roboto", "Sans Serif";
    }
  
    h3 
    {
      font-size: map-get($font-size-h3, "mobile" );
      font-family: "Roboto", "Sans Serif";
      font-weight: bold;
    }

    h4
    {
      font-size: map-get($font-size-h4, "mobile" );
      font-family: "Roboto", "Sans Serif";
      font-weight: normal;
    }
  
    p 
    {
      font-size: map-get($font-size-p,"mobile" );
      font-family: "Roboto", "Sans Serif";
    }

    .p-localisation
    {
      font-size: map-get($font-size-p-localisation , "mobile" );
    }

    .p-fonctionnement
    {
      font-size: map-get($font-size-p-fonctionnement , "mobile" );
    }

    a
    {
      font-size: map-get($font-size-a,"mobile" );
      font-family: "Roboto", "Sans Serif";
    }

    .fonctionnement__etapes__etape__numero
    {
      font-size: map-get($font-size-numero,"mobile" );
      color: white;
    }
  
    .p-restaurant
    {
      font-size: map-get($font-size-restaurant-p , "mobile");
      font-weight: lighter;
    }

    .footer-a
    {
      font-size: map-get($font-size-footer-a , "mobile");
    }

    .button
    {
      font-size: map-get($font-size-button , "mobile");
    }


    //Menu

  .h1Menu
  {
      font-size: map-get($font-size-h1Menu , "mobile");
      font-family: "Shrikhand", "Sans-Serif";
      font-weight: normal;
  }

  .h2Menu
  {
    font-weight: lighter;
    font-size: map-get($font-size-h2Menu , "mobile");
  }

  .h3Menu
  {
    font-size: map-get($font-size-h3Menu , "mobile");
  }

  .pMenu
  {
    font-size: map-get($font-size-pMenu , "mobile");
    font-weight: lighter;
  }

  .prixMenu
  {
    font-size: map-get($font-size-prixMenu , "mobile");
  }

}







