.carte
{
    a
    {
        color: black;
    }

    
    background-color: $color-bg-primary;
    position: relative;
    width: 100%;
    padding-bottom: 100px;

    &__img
    {
        img
        {
            width: 100%;
        }
    }

    &__head
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5%;
        position: absolute;
        top: -15vw;
        background-color: $color-bg-primary;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        

        width: 100%;

         &__heart
        {
             i
            {
                width: 30px;
            }

            .far
            {
                display: inline-block      
            }

            .fas
            {
                display: none;
            } 


            &:hover, &:active 
            {
                .far
                {
                    display: none;
                }

                .fas
                {
                    display: inline-block;
                    width: 30px;
                }
                
                .fas::before 
                {
                    color: transparent;
                    position: relative;
                    background-clip: text;
                    background-image: linear-gradient(to top, $color-secondary, $color-primary);
                    width: 100%;
                    text-align: center;
                }
            } 
        } 
    }

    &__partie
    {
        padding: 2vw 5%;
        margin-bottom: 30px;

        &:nth-child(2)
        {
            padding-top: 10vw;
        }

        h2
        {
            position: relative;
            margin-bottom: 25px;
            text-transform: capitalize;
        }

        h2::before
        {
            content: "";
            border-bottom: 3px solid $color-tertiary;
            position: absolute;
            width: 10%;
            height: 100%;
            bottom: -5px;
        }

        &__cards
        {
            &__card
            {
                background-color: white;
                box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                padding: 3vw 0;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                opacity: 0;
                animation: CardLoadingAnim forwards 0.5s ease-in-out;

                @for $i from 1 through 3 
                {
                  &:nth-child(#{$i})
                  {
                      animation-delay: $anim-delay * $i;
                  }  
                }

                @keyframes CardLoadingAnim {
                    0%
                    {
                        opacity: 0;
                        transform: translateY(10px);
                    }

                    100%
                    {
                        opacity: 1;
                        transform: translateY(0px);

                    }
                }

                
                &:hover
                {
                    .carte__partie__cards__card__right__check
                    {
                        width: 60px;
                        
                        transition: 0.3s ease-in-out;
                    
                        i{
                            display: flex;
                            transform: rotate(0deg);
                            opacity: 1;
                            transition: transform 0.5s ease-in-out, opacity 0s ease;
                        }
                    }
                }

                &__left
                {
                    padding-left: 3%;
                    white-space: nowrap;
                    overflow: hidden;
                    

                    .h3Menu
                    {
                        margin-bottom: 8px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .pMenu
                    {
                       
                        overflow: hidden;
                        text-overflow: ellipsis;
                        
  
                    }
                }



                &__right
                {

                    
                    display: flex;
                    align-items: center;
                    .prixMenu
                    {
                        margin-right: 15px;
                        align-self: end;
                        
                    }

                    &__check
                    {
                        height: 160%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $color-tertiary;
                        width: 60px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        width: 0;

                        i
                        {
                            display: flex;
                            align-items: center;
                            color: white;
                            transform: rotate(-220deg);
                            height: 25px;
                            opacity: 0;
                            overflow: hidden;
                            
                        }
                        
                    }
                }




            }
        }
    }

    .button
    {

        width: 100%;
        text-align: center;

        &__main
        {
            padding-left: 12%;
            padding-right: 12%;
            
        }
    }

}

