.fonctionnement
{
    @include paddingSection;
    margin-bottom: 50px;

    h2
    {
        margin-bottom: 30px;
    }

    &__etape
    {
        display: flex;
        align-items: center;
        background-color: $color-bg-primary;
        margin-bottom: 30px;
        padding: 28px 20px;
        margin-left: 10px;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        position: relative;

        &__numero
        {
            background-color: $color-primary;
            border-radius: 50px;
            width: 25px;
            height: 25px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -13px;
        }

        i
        {
            width: 10%;
            text-align: center;
            color: gray;
        }

        p:nth-child(3)
        {
            color: black;
            padding: 0 5%;
        }


    }
}