header {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;

    @include mobile-only
    {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    @include tablet-only
    {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    
}

.headerMenu
{
    text-align: center;
    position: relative;

    &__arrow
    {
        display: none;

        @include tablet-only
        {
            display: block;
        }

        @include mobile
        {
            display: block;
        }
    }

    a
    {
        border: none;
        background-color: white;
        position: absolute;
        left: 7%;
        top: 28px;
        i
        {
            color: black;
        }
    }

    .carte__img 
    {
        img
        {
            width: 100%;
        }
        
    }
}