$cd-bars: #15DEA5;
$size: 2vh;
$anim-dur: 2s;
$num-bars: 3;

.load {
    position: fixed;
    transform: translateY(50vh) translateX(50vw);
    z-index: 5;
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    animation: load 2.6s forwards;
   
    

    &__bg
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 240%;
        background-color: white;
        z-index: 2;
        animation: bg 2.6s forwards;
    }
    &__bar {

        &:nth-child(1)
        {
            background-color: $color-secondary;
            transform: scaleY(0.5);
        }
        &:nth-child(2)
        {
            background-color: $color-primary;
            transform: scaleY(1);
        }
        &:nth-child(3)
        {
            background-color: $color-tertiary;
            transform: scaleY(0.5);
        }
        height: 100%;
        width: $size;
        animation: bars $anim-dur forwards ease-in-out 1;
        
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }


    }

}


@keyframes bars {
    0% {
        transform: scaleY(0);
        opacity: 0;
        
    }
    20% {
        transform: scaleY(1);
        opacity: 1;
    }

    40% {
        transform: scaleY(0.5);
        opacity: 1;
        
    }
    60% {
        transform: scaleY(1);
        opacity: 1;
    }

    80% {
        transform: scaleY(0.5);
        opacity: 1;
        
    }

    97%
    {
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes bg {
    0% {
        transform: scaleY(1);

    }

    99%{
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
        
    }
}


@keyframes load {
    0% {
        transform: translateY(40vh) translateX(43vw) scaleY(1);

    }

    99%{
        transform: translateY(40vh) translateX(43vw) scaleY(1);
    }

    100% {
        transform: translateY(40vh) translateX(43vw) scaleY(0);
        
    }
}


