.restaurants
{
    @include paddingSection;
    background-color: $color-bg-primary;
    padding: 60px 5%;

    @include tablet-only
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include pc-only
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2
    {
        margin-bottom: 3vw;

        @include tablet-only
        {
            margin-bottom: 8vw;
        }
    }

    a
    {
        text-decoration: none;
    }

    &__cards
    {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;

        @include tablet-only
        {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include pc-only
        {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__card
        {
            display: flex;
            flex-direction: column;
            height: auto;
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin-bottom: 35px;
            margin-right: 5px;
            margin-left: 5px;
            background-color: white;

            @include tablet-only
            {
                width: 47%;
            }

            @include pc-only
            {
                width: 20%;
            }

            &__imgContainer
            {
                height: 200px;
                overflow: hidden;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                position: relative;

                img
                {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                p
                {
                    position: absolute;
                    top: 8%;
                    right: 5%;
                    color: $color-restaurant-new;
                    background-color: $color-restaurant-new-bg;
                    font-weight: normal;
                    border-radius: 2px;
                    padding: 5px 15px;
                    z-index: 1;
                }
            }

            &__descriptionContainer
            {
                padding: 15px 5%;
                color: black;
                display: flex;
                justify-content: space-between;
                align-items: center;  

                h4
                {
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                &__right
                {

                }

            }
        }
    }
}

