.restaurants
{
    @include paddingSection;
    background-color: $color-bg-primary;
    padding: 50px 5%;

    h2
    {
        margin-bottom: 20px;
    }

    &__cards
    {
        display: flex;
        flex-direction: column;
        padding: 0;

        &__card
        {
            display: flex;
            flex-direction: column;
            height: auto;
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin-bottom: 35px;
            margin-right: 5px;
            margin-left: 5px;
            background-color: white;

            &__imgContainer
            {
                height: 200px;
                overflow: hidden;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                position: relative;

                img
                {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                p
                {
                    position: absolute;
                    top: 8%;
                    right: 5%;
                    color: $color-restaurant-new;
                    background-color: $color-restaurant-new-bg;
                    font-weight: normal;
                    border-radius: 2px;
                    padding: 5px 15px;
                    z-index: 1;
                }
            }

            &__descriptionContainer
            {
                padding: 15px 5%;
                color: black;
                display: flex;
                justify-content: space-between;
                align-items: center;  

                h4
                {
                    margin-bottom: 5px;
                }


            }
        }
    }
}